@CHARSET "ISO-8859-1";
/*Register Page*/
@font-face{
font-family:myFirstFont;
src:url("fonts/Roboto-Black.ttf");
font-weight: bold;
font-size:14px;
}

input.button{
 font-family:myFirstFont;
 }

.regImage{
background-image:url("../indeximages/registrationpageimg.jpg");
}

.container.Reg{
    background: #f1f1f1;
	padding-left: 50px;
	padding-top: 20px;
	width:40%;
}
.row.Reg{
	width:80%;
}

 #day,#year{
 width:60px;
 }


#password,#repassword{
width:40%;
}

#Birthday{
width:50%;
}

#submit {
    background: #4b8df9;
    display: inline-block;
    padding: 5px 10px 6px;
    color: #fbf7f7;
    line-height: 1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 3px #999;
    -webkit-box-shadow: 0 1px 3px #999; 
    box-shadow: 0 1px 3px #999;
    text-shadow: 0 -1px 1px #222;
    border: none;
    position: relative;
    cursor: pointer;
    }

@media only screen and (min-width : 320px)
    and (max-width : 480px) {
.row.Reg{
width:80%;
}
.container{
padding:0;
}
}
 

/* PageCommon */
body {
	margin:0px;
	padding: 0px;
	font-family: verdana;
} 

/*About page section*/
div#about-pg-ready-music a:hover {
    text-decoration: none;
    color:black;
}
div#about-pg-ready-music a {
    text-decoration: none;
    color:black;
}
#expMusicLink:hover #expMusicLinkText {
	border-bottom: 2px solid #7A7E8A;
}
#menu-icon{
	padding: 0;
}
#about-menu{
	padding-top : 5%;
}

#about-image img{
	height: 100%;
}
.foundn-img{
	background: url("../Images/sprite.png");
    width: 32px;
    height: 33px;
    background-position: -91px -83px;
    border-radius: 10px;
    display: inline-block;
    vertical-align: middle;
}

.foundn-img:hover{
	background-position: -91px -45px;
}

.line{
	height: 1px;
    border-top: 1px solid;
}

#about-content-2{
	padding-top: 40%;
}
#about-content-3{
	height: 400px;
}

#about-content-4, #about-content-6, #about-content-7{
	margin-top: 1em;
}
#about-carousel img{
	width: 100%;
	height: 400px;
}

.found-text2{
	width: 100%;
	padding: 0 20%;
}

.found-img2{
	background : url("../Images/foundation2.jpg");
	width: 100%;
	height: 400px;
	background-repeat: no-repeat;	
	background-size: 100%;	
}

.found-img3{
	background : url("../Images/foundation6.jpg");
	width: 100%;
	height: 400px;
	background-repeat: no-repeat;
	background-size: 115%;	
}

.found-text2 {
	width: 100%;
	height: 100%;
	background: #FFFF99;
	opacity: 0;
}

.found-img2:hover .found-text2, .found-img3:hover .found-text2 {
	opacity: 0.6;
	text-align: justify;
	color: #000000;
	font-family: Century Gothic, Arial, sans-serif;
	
}

.found-img2:hover .found-text3, .found-img3:hover .found-text3{
	display: none;
}

.bold{
	font-weight: bold;
}
#about-carousel h2{
	font-family: Century Gothic, Arial, sans-serif;
	color: white ;
	font-size: 300%
}
#about-carousel h3{
	font-family: Century Gothic, Arial, sans-serif;
	color: #585858 ;
	font-size: 300%
}

#leftCarousel, #rightCarousel{
	height: 400px;
}

.aboutCont5Txt1{
	margin: 0 0 8% 0;
}
.back-top{
	display: inline-block;
	background: url("../Images/sprite.png");
    width: 32px;
    height: 33px;
    background-position: -169px -83px;
    border-radius: 10px;
    display: inline-block;
    vertical-align: middle;
}
.back-top:hover{
	background-position: -169px -45px;
}

#about-content-6{
	height: 500px;
}

.abt-cont6-img-div{
	height: 100%;
	width: 100%;
}

.abt-cont6-img-div img{
	width : 100%;
	height: 100%;
}

.abt-cont6-txt{
	margin-left: 2%;
	background-color: #f5de00;
	height: 100%;
	width: 100%
}


/* ClassList Section */
.classListCont{
	padding:5%;
}
#img{
	height:100%;
	width:100%;
}
.joinMeTxt{
	font-size:60px;
	font-style:normal;
}

.form-control {
    height:50px;
    background-color: #efefef;
    border-color: black;
}
.email input{
	width:124%;

}
.email{
	float:right;
	padding-right:20%;
	padding-top:10%;
}
.frstClm{
	width:30%;
	float:left;
	border-bottom:solid 1px #CCCCCC;
}
.secndClm{
	width:65%;
	float:left;
	border-bottom:solid 1px #CCCCCC;
	margin-left:3%;
	line-height:2em;
}
.classListCont .rowCntN{
	clear:both;
	display:flex;
}
.rowCnt1 div{
	height:80px;
}
.rowCnt1 .frstClm, .rowCnt1 .secndClm{
	padding-top:15px;
}
.rowCntN .frstClm,.rowCntN .secndClm{
	padding:20px 0;
}
.rowCntN .secndClm{
	font-size:12px;
}
.instList{
	font-size:32px;		
}
.InstTitle{
	color:grey;
	font-size:12px;
}
.titleDesc{
	font-size:30px;
}
.feedback_text{
	font-size: 1em;
    float: left;
    padding: 0.5em;
}
.feedback_img{
	background-image: url(../Images/sprite.png);
	width: 36px;
    height: 36px;
    background-position-x: -217px;
    background-position-y: -85px;
    background-size: 1000px;
	float: left;
	cursor: pointer;
	margin: 0px 0.5em;
}

.feedback{
	float: right;
}

/* Schedule Section */

#scheduleSection {
	width: 86%;
    margin: 0px 7%;
}
#schHeader {
	width: 100%;
    padding: 1.5em 0px;
	border-bottom: solid 1px #000000;
}

#schHeading {
	font-size: 3em;
    padding: 0.5em 0.1em;
}

#toClassList {
	float: right;
	padding-top: 1em;
}

#toClassTxt {
	font-size: 1em;
	float: left;
	padding: 0.5em;
}

#toClassBut {
	background-image: url(../Images/sprite.png);
	width: 36px;
    height: 36px;
    background-position-x: -95px;
    background-position-y: -85px;
    background-size: 1000px;
	float: left;
	cursor: pointer;
	cursor: hand;
	margin: 0px 0.5em;
}

#toClassBut:hover {
	background-position-y: -214px !important;
}

#schTimeline {
	padding-top: 2.5em;
}

#schTimelineTxt {
	font-size: 1.7em;
}

#classType , #instructor{
	border-top-width: 1px !important;
    border-bottom-width: 1px !important;
}

#schSelection select{
	margin: 0px;
    padding-left: 1.5em;
    width: 50%;
    height: 5em;
    border: 2px solid #000000;
    font-size: 0.8em;
    background-image: url(../Images/dropdown@2x.png);
    background-repeat: no-repeat;
    background-size: 3em;
    background-position-x: 101%;
    background-position-y: 1em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#schSelection {
	padding-top: 2em;
}

.dayBox , .timeBox{
	width: 2em;
    height: 2em;
    border: 1px solid #000000;
	cursor: pointer;
	cursor: hand;
}

.dayTxt, .timeTxt{
	padding-top: 0.5em;
}

#schDayControl li, #schTimeControl li{
	list-style: none;
    float: left;
	margin-right: 1em;
}

#schDayControl {
	padding-top: 2em;
}

#schTimeControl {
	margin-top: 1em;
}

#schDayList, #schTimeList, #schListComplete ul{
	padding: 0px;
	margin: 0px;
}

.selected {
	background-color: #2F4F4F;
}

.notSelected:hover {
	background-color : #B8860B;
	transition: all 0.5s ease-in-out;
}

.clr{
    clear:both;
    font-size:0;
}

#schListComplete li {
	float: left;
    list-style: none;
    width: 31%;
	padding-left: 2%;
}

.dayHeader li {
	height: 2.25em;
    padding-top: 1.25em;
}

.dayHeader{
	background-color: #C5B494;
}

.dayListSchList li {
	height: 2em;
    padding-top: 1em;
}

.dayListSchList{
	background-color: #FAEBD7;
}

.dayListSchList:hover {
	background: none;
}

#schListComplete {
	padding-top: 3em;
}

#showContainer {
	font-size: 1.5em;
	padding-left: 40%;
    padding-top: 1em;
}

#showMoreBut {
	background-image: url(../Images/sprite.png);
    width: 1.5em;
    height: 1em;
    background-position-x: -603px;
    background-position-y: -85px;
    background-size: 42em;
	margin-left: 2.2em;
}

#showLessBut {
	background-image: url(../Images/sprite.png);
	width: 1.5em;
	height: 1em;
	background-position-x: -644px;
	background-position-y: -85px;
	background-size: 42em;
	margin-left: 2.2em;
}

#showMore, #showLess {
	cursor: pointer;
    cursor: hand;
}


/* Menu Section */
.menuIconImage{
	display: inline-block;
    background: url("../Images/sprite.png");
    width: 74px;
    height: 75px;
    background-position: -1199px -8px;
}
.horzontalBarImage{
	display: inline-block;
    background: url("../Images/NavBarIcon.png");
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
	margin-bottom: 1em;
    margin-left: 1em;
}
.dotDivImg{
	background: url("../Images/dotIcon2.png");
    background-repeat: no-repeat;
    width: 30px;
    height: 18px;
    background-position: center;
}
.closeImage{
	display: inline-block;
    background: url("../Images/sprite.png");
    width: 30px;
    height: 30px;
    background-position: -1586px -77px;
    margin-bottom: 1.5em;
    margin-left: 1em;
}
ul.subMenu li,ul.listHolder li{
	list-style-type: none;
	float:left;
	padding-right:20px;
}
.navMenuItems ul, .navMenuItems ul li{
	margin:0;padding:0;
}
.navMenuItems,.menuImgCont{
	display:inline-block;
	float:left;
} 
.mainHeaders a:hover {
	background:yellow;
}
.subMenu a:hover{
	background:white;
}
.subMenu{
	float:right;
}
.navMenuItems ul.listHolder{
	margin-top:30px;
}
.navMenuItems a{
	padding: 15px 25px;
	color: black; 
	text-decoration: none;
}
.menuImgCont{
	padding-right:25px;
}

/* musicHome page */

#socialNav{
	background: none;
	margin-top: 4%;
	padding-left: 4%;
	padding-right: 0px;
}


.left{
	float: left;
}


.full-page.container-fluid {
    margin-left: 2%;
}

.social-icons{
	width: 100%;
	padding: 0px;
	margin: 0px;
}

.social {
	background-image: url('../Images/sprite.png');
	background-repeat: no-repeat;
	height: 30px;
	width: 30px;
	float: left;
	list-style: none;
	margin-right:25px;
	opacity: 0.7;
}

.social-link {
	width: 100%;
	height: 100%;
	position: relative;
    display: block;
}

.social-link :hover{
	background-color: none;
	opacity: 0;
}

.social-icon-list{
	height: 40px;
	padding: 0px;
	margin: 0px;
}

.facebook {
   background-position: -483.3px -49px;
}

.facebook:hover{
	background-position: -482.3px -83px;
}

.twitter {
   background-position: -402.3px -49px;
}

.twitter:hover{
	background-position: -402.3px -83px;
}

.youtube {
   background-position: -441.3px -49px;
}
.youtube:hover{
	background-position: -441.3px -83px;
}
.register-font{
    font-family: Century Gothic, Arial, sans-serif;
	font-weight: bold;	
	font-size: 100%;
	padding-top: 3%; 
}
#ready-music span, #about-pg-ready-music span{
	border-bottom: 2px solid yellow;
}

#ready-music, #about-pg-ready-music{
    position: fixed;
    right: 5%;
    z-index: 1;
}
#main-menu{
	padding-top: 2%;
	padding-left: 5%;
	color: black;
}
#me-music{
text-align: center;
font-family:cooper black;
font-size:300%;
}

#content-2{
	height: 50%;
	padding-top: 20%;
}

#slide, #about-image{
	position: initial;
}

.backgrnd-img > img {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:75%;
	z-index:-1;
}
#slider1{
	height: 130px;
	background-color: white;
	padding: 5%;
}

#slider1>div{
	position: absolute;
	width: 80%;
}

#slider1 a{
	color: #686868;
}

#slider1 div div{
	font: bold 13px verdana;
	color:#686868;
	text-transform: uppercase;
	
}

#btnCont{
   width:15%;
	 height:150px;
	 text-align: center;
	 color : white;
}
#btnCont div{
	padding-bottom: 25px;
}

.left1{
	display: block;
	background: url("../Images/sprite.png");
	width: 28px;
	height:30px;
	background-position: -1467px -83px
}
.right1{
	display: block;
	background: url("../Images/sprite.png");
	width: 30px;
	height: 30px;
	background-position: -1488px -83px;
}

.right1:hover{
	background-position: -1488px -45px;
}

.left1:hover{
	background-position: -1467px -46px;
}

#now-open{
	margin-top: -4%;
    margin-left: 4%;
}

#now-open img{
	transform: rotate(-15deg);
   -moz-transform: rotate(-15deg);
   -webkit-transform: rotate(-15deg);
}
#content-3{
	margin-top:5%;
}
.text-3{
	font-family: Century Gothic, Arial, sans-serif;
	font-size: 100%;
}
.text-2{
	font-family: Century Gothic, Arial, sans-serif;
	font-size: 150%;
	padding-top: 5%; 
	padding-bottom: 10%;
}
.text-1{
	font-family: Century Gothic, Arial, sans-serif;
	font-weight: bold;	
	font-size: 400%;
	padding-top: 5%; 
}
#text-3 img{
	background-position: -1488px -45px;
}

.learn-more-text{
	display: inline-block;
	padding: 1% 3% 2% 0;
	font-weight: bold;
} 

.learn-more{
	display: inline-block;
	background: url("../Images/sprite.png");
    width: 32px;
    height: 33px;
    background-position: -207px -83px;
    border-radius: 10px;
    display: inline-block;
    vertical-align: middle;
}

.learn-more:hover{
	background-position: -207px -45px;
}

.all-classes{
	display: inline-block;
	background: url("../Images/sprite.png");
    width: 32px;
    height: 33px;
    background-position: -169px -83px;
    border-radius: 10px;
    display: inline-block;
    vertical-align: middle;
}

.all-classes:hover{
	background-position: -169px -45px;
}

#content-4{
	margin-top: 5%;
	height: 600px;
}

.cont4Txt{
	margin-left: 2%;
	background-color: powderblue;
	height: 100%;
	width: 100%
}
.cont4-img-div{
	background-color: powderblue;
	height: 100%;
	width: 100%;
	padding-bottom: 0 0 2%;
}

.cont4-img-div img{
	width : 100%;
	height: 100%;
}


#content-5{
	margin-top: 5%;
}

.content5-title{
	font-family: Century Gothic, Arial, sans-serif;
	font-size: 300%;
	padding: 5% 0;
}

.inlineBlockTxt{
	display: inline-block;
}
.cont5Txt{
	width: 60%;
	display: inline-block;
}

.cont5Txt>div:first-child{
	font-family: Century Gothic, Arial, sans-serif;
	font-size: 150%;
}
.cont5Img{
	background: url("../indeximages/upcoming-home.jpg");
    height: 100%;
    background-size: 100%;
    background-repeat: round;
}

.content5-row{
	border-top: 1px solid gray;
	padding: 3% 0;
}


.content5-text-6{
    padding: 5% 0;
}

.grayFont{
	color: #686868;
	font-weight: bold;
	font-size: 80%
}

.full-page img{
	width: 100%
}

.email-text{
	height: 50px;
    width: 55%;
    border: 1px solid black;
    padding: 5px 10px;
    border-right: none;
    font-weight: bold;
}

.email-submit{
	padding: 4px 0px;
    display: inline-block;
    border: 1px solid black;
    background-color: white;
    border-left: none;
    margin-left: -4px;
    font-weight: bold;
}

.email-btn{
	 height: 40px;
    margin-left: 4px;
    background: white;
    border: none;
    border-left: 1px solid black;
}

.music-logo{
	background: url("../Images/sprite.png");
    width: 60px;
    height: 62px;
    background-position: -261px -83px;
    border-radius: 10px;
    display: inline-block;
    vertical-align: middle;
    margin-left : 10%;
    margin-bottom : 5%
}

#content-8, #about-content-9{	
	padding-top: 3%;
	border-bottom : 1px solid #686868;
	width: 100%;	
}

#content-9, #about-content-10{
	padding-top: 3%;
	font-weight: bold;
}

#content-9 a{
	padding-top: 0;
	
}

.footer-left{
	padding-bottom: 3%;
}

@media only screen and (min-width: 760px) {
	#socialNav{
		background: none;
		margin-top: 4%;
		padding-left: 4%;
		padding-right: 0px;
	}
}
	
@media only screen and  (min-width: 501px) and (max-width: 991px) {

	#socialNav{
		width: 40%;
	    float: left;
	}
	#main-menu{
		width: 50%;
	    margin: 4% 0;
	    padding: 0;
	    float: left;
	}
	#main-menu li{
		padding: 0;
		margin : 0;
	}
	#ready-music, #about-pg-ready-music{
		top : 8%
	}
	#me-music{
		font-size: 300%;
	    padding-top: 2em;
	}
	#slide-text{
		width: 50%;
	    float: right;
	    
	}
	#content-2{
		padding-top: 10em;
	}
	#content-3 {
	    margin-top: -1em;
	}
	#content-4, #about-content-6 {
	    margin: 2em 0;
	    height: auto;
	}
	.cont4Txt, .abt-cont6-txt {
	    margin: 2% 0;
	}
	#content-6{
	    margin-top: 1em;
	}
	.footer-left{
		padding-bottom: 3%;
		width: 40%;
	    float: left;
	}
	.footer-right{
		float: left;
	}
	.content5-title{
		font-size : 250%;
	}
	.text-2{
		font-size: 125%;
	}
	#leftCarousel, #rightCarousel{
		height: 800px;
	}
	#about-content-3{
		height: 800px;
	}
	
}
	
	
@media only screen and (max-width: 500px) {
	
	#socialNav{
		background: none;
	    width: 100%;
	}
		
	.social-icon-list {
	    height: 40px;
	    padding-top: 5%;
	
	}
		
	#main-menu{
		width: 100%;
	    margin: 0;
	    padding: 0;
	    float: left;
	}
	#main-menu li{
		padding: 0 2%;
		margin : 0;
	}
	#ready-music{
		top : 8%
	}
	
	#about-pg-ready-music{
		top: 15%;
	}
	
	#me-music{
		font-size: 200%;
	    padding-top: 2em;
	}
	#content-2{
		padding-top: 10em;
	}
	.text-1 {
		font-size: 200%
	}
	#content-3 {
	    margin-top: 2em;
	}
	
	#content-4, #about-content-6 {
	    margin: 2em 0;
	    height: auto;
	}
	.cont4Txt, .abt-cont6-txt {
	    margin: 2% 0;
	}
	#content-6{
	    margin-top: 1em;
	}
	.sub-list-about{
		text-align: center;
		width: 100%;
	}
	.content5-title{
		font-size : 200%;
	}
	.text-2{
		font-size: 100%;
	}
	#about-content-3{
		height: 600px;
	}
	#about-carousel img{
	width: 100%;
	height: 300px;
	}

	.found-img2{
		background : url("../Images/foundation2.jpg");
		width: 100%;
		height: 300px;
		background-repeat: no-repeat;	
		background-size: 100%;	
	}
	
	.found-img3{
		background : url("../Images/foundation6.jpg");
		width: 100%;
		height: 300px;
		background-repeat: no-repeat;
		background-size: 150%;	
	}
	#about-carousel h2{
		font-family: Century Gothic, Arial, sans-serif;
		color: white ;
		font-size: 200%
	}
	#about-carousel h3{
		font-family: Century Gothic, Arial, sans-serif;
		color: #585858 ;
		font-size: 200%
	}
	
	#leftCarousel, #rightCarousel{
		height: 600px;
	}
}

