body {
	margin:0px;
	padding: 0px;
	font-family: verdana;
}

#scheduleSection {
	width: 86%;
    margin: 0px 7%;
}
#schHeader {
	width: 100%;
    padding: 1.5em 0px;
	border-bottom: solid 1px #000000;
}

#schHeading {
	font-size: 3em;
    padding: 0.5em 0.1em;
}

#toClassList {
	float: right;
	padding-top: 1em;
}

#toClassTxt {
	font-size: 1em;
	float: left;
	padding: 0.5em;
}

#toClassBut {
	background-image: url('sprite.png');
	width: 36px;
    height: 36px;
    background-position-x: -95px;
    background-position-y: -85px;
    background-size: 1000px;
	float: left;
	cursor: pointer;
	cursor: hand;
	margin: 0px 0.5em;
}

#toClassBut:hover {
	background-position-y: -214px !important;
}

#schTimeline {
	padding-top: 2.5em;
}

#schTimelineTxt {
	font-size: 1.7em;
}

#classType , #instructor{
	border-top-width: 1px !important;
    border-bottom-width: 1px !important;
}

#schSelection select{
	margin: 0px;
    padding-left: 1.5em;
    width: 50%;
    height: 5em;
    border: 2px solid #000000;
    font-size: 0.8em;
    background-image: url('dropdown@2x.png');
    background-repeat: no-repeat;
    background-size: 3em;
    background-position-x: 101%;
    background-position-y: 1em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#schSelection {
	padding-top: 2em;
}

.dayBox , .timeBox{
	width: 2em;
    height: 2em;
    border: 1px solid #000000;
	cursor: pointer;
	cursor: hand;
}

.dayTxt, .timeTxt{
	padding-top: 0.5em;
}

#schDayControl li, #schTimeControl li{
	list-style: none;
    float: left;
	margin-right: 1em;
}

#schDayControl {
	padding-top: 2em;
}

#schTimeControl {
	margin-top: 1em;
}

#schDayList, #schTimeList, #schListComplete ul{
	padding: 0px;
	margin: 0px;
}

.selected {
	background-color: #2F4F4F;
}

.notSelected:hover {
	background-color : #B8860B;
	transition: all 0.5s ease-in-out;
}

.clr{
    clear:both;
    font-size:0;
}

#schListComplete li {
	float: left;
    list-style: none;
    width: 31%;
	padding-left: 2%;
}

.dayHeader li {
	height: 2.25em;
    padding-top: 1.25em;
}

.dayHeader{
	background-color: #C5B494;
}

.dayListSchList li {
	height: 2em;
    padding-top: 1em;
}

.dayListSchList{
	background-color: #FAEBD7;
}

.dayListSchList:hover {
	background: none;
}

#schListComplete {
	padding-top: 3em;
}

#showContainer {
	font-size: 1.5em;
	padding-left: 40%;
    padding-top: 1em;
}

#showMoreBut {
	background-image: url('sprite.png');
    width: 1.5em;
    height: 1em;
    background-position-x: -603px;
    background-position-y: -85px;
    background-size: 42em;
	margin-left: 2.2em;
}

#showLessBut {
	background-image: url('sprite.png');
	width: 1.5em;
	height: 1em;
	background-position-x: -644px;
	background-position-y: -85px;
	background-size: 42em;
	margin-left: 2.2em;
}

#showMore, #showLess {
	cursor: pointer;
    cursor: hand;
}

