@CHARSET "ISO-8859-1";

.left{
	float: left;
}

#socialNav{
	background: none;
	margin-top: 4%;
	padding-left: 4%;
	padding-right: 0px;
}
.full-page.container-fluid {
    margin-left: 2%;
}

.social-icons{
	width: 100%;
	padding: 0px;
	margin: 0px;
}

.social {
	background-image: url('../indeximages/social.png');
	background-repeat: no-repeat;
	height: 30px;
	width: 30px;
	float: left;
	list-style: none;
	margin-right:25px;
	opacity: 0.7;
}

.social-link {
	width: 100%;
	height: 100%;
	position: relative;
    display: block;
}

.social-link :hover{
	background-color: none;
	opacity: 0;
}

.social-icon-list{
	height: 40px;
	padding: 0px;
	margin: 0px;
}

.facebook {
   background-position: -9px -7px;
}

.twitter {
   background-position: -62px -7px;
}

.youtube {
   background-position: -113px -7px;
}
.register-font{
    font-family: Century Gothic, Arial, sans-serif;
	font-weight: bold;	
	font-size: 100%;
	padding-top: 5%; 
}

#main-menu{
	padding-top: 2%;
	padding-left: 5%;
}
#me-music{
text-align: center;
font-family:cooper black;
font-size:300%;
}

#content-2{
	height: 50%;
	padding-top: 20%;
}

#slide{
	position: initial;
}

#slide > figure > img{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:75%;
	z-index:-1;
}
#slider1{
	height: 130px;
	background-color: white;
	padding: 5%;
}

#slider1>div{
	position: absolute;
	width: 80%;
}

#slider1 a{
	color: #686868;
}

#slider1 div div{
	font: bold 13px verdana;
	color:#686868;
	text-transform: uppercase;
	
}

#btnCont{
   width:15%;
	 height:150px;
	 text-align: center;
	 color : white;
}
#btnCont div{
	padding-bottom: 25px;
}

.left1{
	display: block;
	background: url("../Images/sprite.png");
	width: 28px;
	height:30px;
	background-position: -1467px -46px
}
.right1{
	display: block;
	background: url("../Images/sprite.png");
	width: 30px;
	height: 30px;
	background-position: -1488px -45px;
}

#now-open{
	margin-top: -4%;
    margin-left: 4%;
}

#now-open img{
	transform: rotate(-15deg);
   -moz-transform: rotate(-15deg);
   -webkit-transform: rotate(-15deg);
}
#content-3{
	margin-top:2%;
}
.text-2{
	font-family: Century Gothic, Arial, sans-serif;
	font-size: 150%;
	padding-top: 5%; 
	padding-bottom: 10%;
}
.text-1{
	font-family: Century Gothic, Arial, sans-serif;
	font-weight: bold;	
	font-size: 400%;
	padding-top: 5%; 
}
#text-3 img{
	background-position: -1488px -45px;
}

.learn-more-text{
	display: inline-block;
	padding: 1% 3% 2% 0;
	font-weight: bold;
} 

.learn-more{
	display: inline-block;
	background: url("../Images/sprite.png");
    width: 32px;
    height: 33px;
    background-position: -207px -45px;
    border-radius: 10px;
    display: inline-block;
    vertical-align: middle;
}
#content-4{
	margin-top: 5%;
	height: 600px;
}

.cont4Txt{
	margin-left: 2%;
	background-color: powderblue;
	height: 100%;
	width: 100%
}
.cont4-img-div{
	background-color: powderblue;
	height: 100%;
	width: 100%;
	padding-bottom: 0 0 2%;
}

.cont4-img-div img{
	width : 100%;
	height; 100%;
}


#content-5{
	margin-top: 5%;
}

.content5-title{
	font-family: Century Gothic, Arial, sans-serif;
	font-size: 300%;
	padding: 5% 0;
}

.inlineBlockTxt{
	display: inline-block;
}
.cont5Txt{
	width: 60%;
	display: inline-block;
}

.cont5Txt>div:first-child{
	font-family: Century Gothic, Arial, sans-serif;
	font-size: 150%;
}
.cont5Img{
	background: url("../indeximages/upcoming-home.jpg");
    height: 100%;
    background-size: 100%;
    background-repeat: round;
}

.content5-row{
	border-top: 1px solid gray;
	padding: 3% 0;
}


.content5-text-6{
    padding: 5% 0;
}

.grayFont{
	color: #686868;
	font-weight: bold;
	font-size: 80%
}

.full-page img{
	width: 100%
}

